pyfeltor.egg-info
tests/__pycache__
pyfeltor/__pycache__
pyfeltor/dg/__pycache__
pyfeltor/dg/create/__pycache__
pyfeltor/dg/geo/__pycache__
*.swp
*.so
.eggs
dist
pyfeltor/_version.py

uv.lock

# ignore visual studio .vs table
/.vs

# CMake output
build
out